<h1>Admin Dashboard</h1>
<p>Welcome, <%= current_user.email %>!</p>
<%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>

<div>
  <h3>Manage Categories</h3>
  <%= link_to "Create Category", new_admin_category_path, class: "btn btn-primary" %>
  <%= link_to "View Categories", admin_categories_path, class: "btn btn-secondary" %>
</div>

<div>
  <h3>Manage Products</h3>
  <%= link_to "Create Product", new_admin_product_path, class: "btn btn-primary" %>
  <%= link_to "View Products", admin_products_path, class: "btn btn-secondary" %>
</div>

