<h1>New Category</h1>

<div class="mb-3">
  <%= link_to 'Back to Dashboard', admin_dashboard_path, class: 'btn btn-secondary' %>
</div>

<%= form_with model: @category, url: admin_categories_path, local: true, class: "needs-validation" do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :image, "Upload Image", class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Create Category", class: "btn btn-primary" %>
  </div>
<% end %>
