<h1>New Product</h1>
<%= form_with model: @product, url: admin_products_path, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.label :stock %>
    <%= form.number_field :stock %>
  </div>
  <div>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name %>
  </div>
  <div>
    <%= form.submit "Create Product", class: "btn btn-primary" %>
  </div>
<% end %>
